<h1>Listing workings</h1>

<table>
  <tr>
    <th>Id sprint</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workings.each do |working| %>
  <tr>
    <td><%= working.sprint_id %></td>
    <td><%= working.day %></td>
    <td><%= link_to 'Show', [@sprint,working] %></td>
    <td><%= link_to 'Edit', edit_sprint_working_path(@sprint, working) %></td>
    <td><%= link_to 'Destroy', [@sprint, working], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Working', new_sprint_working_path(@sprint) %>
