%div{class: task.finished && "row muted" || "row"}
  .span1
    .pull-right
      - task.users.uniq.each do |user|
        = gravatar_for user, size:20


  .btn-group.pull-right

    - if task.finished
      %a.btn.btn-inverse{href:reopen_project_task_path(task.project, task)}
        %i.icon-repeat.icon-white
        Re-open
    - else
      -if task.in_progress_for_user?(current_user)
        
        %form{action: stop_project_task_path(task.project, task)}
          .input-append
            %input#appendedInputButton.span2{type: "text", name:"message"}
              %button.btn.btn-danger{:type => "submit"}
                %i.icon-stop.icon-white
                stop
      - else
        %a.btn.btn-success(href='#{start_project_task_path(task.project, task)}')
          %i.icon-play.icon-white
          start
      %a.btn.btn-inverse(href='#{finish_project_task_path(task.project, task)}')
        %i.icon-check.icon-white
        Finish Him!
    /  .btn.btn-link{style:'width:3px;padding:2px 0;background:#AAA'}
    /    &nbsp;
    /%a.btn(href='#{project_task_path(@project, task)}/sittings/new')
    /  New Sitting
    /  %i.icon-plus


    / %a.btn.btn-warning(href='#{edit_project_task_path(@project, task)}')
    /   /Edit
    /   %i.icon-pencil
    / =#%td= link_to "×", [@project, task], method: :delete, data: { confirm: 'Are you sure?' }
    / &nbsp;
    / %a.btn.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_path(@project, task), rel: "nofollow"}
    /   /Delete
    /   %i.icon-remove



  .span5.name
    %a{href:project_task_path(task.project, task)}
      =task.name
      %small (#{task.sittings.sum{|s| s.delta}} of #{pluralize(task.time_scope, 'minute')})
    %small= task.description
    -if task.finished
      %i.icon-ok.icon-gray
%br