.page-header
  %h2
    \#{@task.name}
    %small
      (on #{@task.project && @task.project.name})
    %small
      .btn-group.pull-right
        %a.btn{href: edit_project_task_path(@project, @task)}
          Edit
          %i.icon-edit
        %a.btn{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_path(@project, @task), rel: "nofollow"}
          Delete
          %i.icon-remove


    %small
      .muted
        = @task.description

%p
  %i.icon-time
  %b Created:
  \#{time_ago_in_words(@task.created_at)} ago.
%p
  %i.icon-time
  %b Time forecast:
  = @task.time_forecast
  minutes
%p
  %i.icon-check
  %b Finished:
  = @task.finished && "yes" || "no"

=# link_to 'Sittings', project_task_sittings_path(@project, @task)


- unless @task.sittings.empty?
  %table
    %tr
      %th User
      %th Day
      %th Start
      %th End
      %th

    =render @task.sittings


%br
.pull-right
  %a(href='#{params[:id]}/sittings/new' class='btn btn-primary') New Sitting
%br
%br





= link_to 'Back', project_tasks_path, class: 'btn' 