.page-header
  %h2
    %span{style:('text-decoration:line-through' if @task.finished)}
      \#{@task.name}
      /%i.icon-ok{style:'opacity:0.3'}
      %small
        ( on 
        %a{href:project_tasks_path}=@task.project && @task.project.name 
        )
    %small
      .btn-group.pull-right
        %a.btn.btn-warning{href: edit_project_task_path(@project, @task)}
          %i.icon-pencil.icon-white
          Edit
        %a.btn.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_path(@project, @task), rel: "nofollow"}
          %i.icon-remove.icon-white
          Delete


    %small
      .muted
        = @task.description
.row
  %p.span4
    %i.icon-time
    %b Created:
    \#{time_ago_in_words(@task.created_at)} ago.
  %p.span4
    %i.icon-time
    %b Time scope:
    = pluralize(@task.time_scope, 'minute')

/= link_to 'Sittings', project_task_sittings_path(@project, @task)


- unless @task.sittings.empty?
  %br
  .row
    %b.span2
      User
    %b.span2
      Day
    %b.span1
      Start
    %b.span1
      End
  %br
  =render @task.sittings


%br
.pull-right
  %a(href='#{params[:id]}/sittings/new' class='btn btn-primary') New Sitting
%br
%br





