<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Time forecast:</b>
  <%= @task.time_forecast %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project_id %>
</p>

<p>
  <b>Finished:</b>
  <%= @task.finished %>
</p>


<%= link_to 'Edit', edit_project_task_path(@project, @task) %>
<%= link_to 'Back', project_tasks_path %>
