.page-header
  %h2
    %small
      .btn-group.pull-right
        -if can? :update, @task
          %a.btn.btn-warning{href: edit_project_task_path(@project, @task)}
            %i.icon-pencil.icon-white
            Edit
        -if can? :destroy, @task
          %a.btn.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_path(@project, @task), rel: "nofollow"}
            %i.icon-remove.icon-white
            Delete
    %span{class:('completedtask' if @task.finished)}
      \#{@task.name}
      /%i.icon-ok{style:'opacity:0.3'}
      %small
        ( on 
        %a{href:project_tasks_path}=@task.project && @task.project.name 
        )


    %small
      .muted
        = raw sanitize mkd.render @task.description
.row
  .span5.comments
    %h4.page-header Comments
    - @task.comments.each do |comment|
      .row
        .span5.comment
          -if can? :destroy, comment
            .pull-right
              %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_comment_path(@project, @task, comment), rel: "nofollow"}
                %i.icon-remove
          %b
            = comment.user
          = comment.message
          .muted
            = comment.created_at.to_s(:short)
    .form-actions
      = form_for([@project, @task, @comment], html:{class: "form-inline"}) do |f|
        =# form_for(@comment, :url => project_task_comments_path(@project, @task, @comment), :method => :post,  :html => { :class => "form-inline"}) do |f|
        - if @comment.errors.any?
          #error_explanation
            %h2
              = pluralize(@comment.errors.count, "error")
              prohibited this comment from being saved:
            %ul
              - @comment.errors.full_messages.each do |msg|
                %li= msg

        .field
          = f.text_field :message, class: "span3"
          = f.submit class: "span1", value: "Send"

        -#  .field
        -#    = f.label :init
        -#    = f.date_select :init
        -#  .field
        -#    = f.label :finish
        -#    = f.date_select :finish
        -#  .field
        -#    = f.label :notas
        -#    = f.text_field :notas
        -#  .actions
        -#    = f.submit



  -if can? :index, Sitting
    .span4
      %h4.page-header Sittings
      =render @task.sittings
      .row
        .pull-right
          -if can? :create, @task.sittings.build
            %a{href: new_project_task_sitting_path(@project, @task, @sitting), class:'btn btn-primary btn-small'} New Sitting








