.list
  - @users.each do |user|
    .item
      = gravatar_for user

      %a{href:user_path(user)}
        = user
      -if can? :manage, user
        ="<#{user.email}>"
        = link_to 'Edit', edit_user_path(user)
        |
        = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate

.pull-right
  %a(href='#{new_user_path}' class='btn btn-primary') New User 
%br
%br