.row
  -if current_user.admin? || current_user?(@user)
    .btn-group.pull-right
      %a.btn.btn-warning{href:edit_user_path(@user)}
        %if.icon-pencil.icon-white
        Edit
      %a.btn.btn-danger{href:user_path(@user), 'data-confirm' => 'Are you sure?', 'data-method' => 'delete', rel: 'nofollow' }
        %if.icon-pencil.icon-white
        Destroy

  .span1
    = gravatar_for @user
  .span5
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email
    -if current_user.admin?
      %p
        %b admin:
        = @user.admin?

%br

-if @tasks.empty?
  %div
    %em Lazy user.
-else
  %h4 #{@user.name} works in #{pluralize((@tasks.uniq.collect.count), 'task')}:
  =render @tasks.uniq
  =will_paginate @tasks, :renderer => BootstrapPagination::Rails
