= form_for(@sprint) do |f|
  - if @sprint.errors.any?
    #error_explanation
      %h2
        = pluralize(@sprint.errors.count, "error")
        prohibited this sprint from being saved:
      %ul
        - @sprint.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :init
    .datepicker
      = f.text_field :init
  .field
    = f.label :finish
    .datepicker
      = f.text_field :finish
  .field
    = f.label :notas
    = f.text_field :notas
  .actions
    = f.submit
