%h2 Projects
%ul.unstyled.projects-list
  - @projects.each do |project|
    %li.projects-project
      .pull-right
        .progress.span5
          .bar.bar-success{style:"width: #{(project.tasks.collect{|t| t.finished ? (t.time_scope||0) : 0 }).sum() * 100 / (project.tasks.collect{|t| t.time_scope||0 }).sum()}%;"}
          //.bar.bar-warning{style:"width: #{(project.tasks.collect{|t| t.in_progress?}).count(true) * 100 / project.tasks.count}%;"}
        .span1
          \#{(project.tasks.collect{|t| t.finished ? (t.time_scope||0) : 0 }).sum()}
          \/
          = (project.tasks.collect{|t| t.time_scope||0 }).sum()
      %h4
        = link_to project.name, project, class: 'projects-project-name'



%br

%br
.pull-right
  %a.btn.btn-primary(href=new_project_path) New Project
