%p#notice= notice

.page-header
  %h2
    = @project.name
    %small
      .btn-group.pull-right
        %a.btn{href: edit_project_path(@project)}
          Edit
          %i.icon-edit
        %a.btn{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_path(@project), rel: "nofollow"}
          Delete
          %i.icon-remove
  

-unless @project.tasks.empty?
  - @project.tasks.each do |task|
    %div{class: task.finished && "row muted" || "row", style: task.finished && "opacity:.5;background:#FAFAFA"}
      .span1
        .pull-right
          - task.users.uniq.each do |user|
            = gravatar_for user, size:20
      .btn-group.pull-right
        %a.btn.btn-small(href='#{project_task_path(@project, task)}/sittings/new')
          New Sitting
          %i.icon-plus
        %a.btn.btn-small(href='#{edit_project_task_path(@project, task)}')
          Edit
          %i.icon-edit
        =#%td= link_to "×", [@project, task], method: :delete, data: { confirm: 'Are you sure?' }
        &nbsp;
        %a.btn.btn-small{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_path(@project, task), rel: "nofollow"}
          Delete
          %i.icon-remove
      .span4
        %a
          = link_to task.name, project_task_path(@project, task)
          %small (#{task.sittings.sum{|s| s.delta}} of #{task.time_forecast} minutes)
        %small= task.description
    %br
      

%br
.pull-right
  %a(href='#{params[:id]}/tasks/new' class='btn btn-primary') New Task 
%br
%br
=# link_to 'New Task', new_project_task_path


%br


=# link_to 'Tasks', project_tasks_path(@project)
= link_to 'Back', projects_path, class: 'btn' 
