<%= form_for([@project, @task, @sitting]) do |f| %>
  <% if @sitting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitting.errors.count, "error") %> prohibited this sitting from being saved:</h2>

      <ul>
      <% @sitting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end, :html => { :style => "border:1px solid #000" }%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
