= form_for([@project, @task, @sitting]) do |f|
  =f.simple_fields_for :sitting do |ff|
    - if @sitting.errors.any?
      #error_explanation
        %h2
          = pluralize(@sitting.errors.count, "error")
          prohibited this sitting from being saved:
        %ul
          - @sitting.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :day
      =# f.date_select :day
      .datepicker
        = f.text_field :day
    .field
      = f.label :start
      = f.time_select :start
      = #ff.input :start, :as => :date
      = #ff.input :start, :as=>"string", :input_html => {"data-datepicker" => "datepicker", :class =>"small"}
    .field
      = f.label :end
      = f.time_select(:end, :prompt => true)
      =# f.datetime_select :end, :html => { :style => "border:1px solid #000" }
    .field
      = f.label :message
      = f.text_field(:message, class: 'input-xxlarge')
    .actions
      = f.submit

:javascript
  $(function(){
      $(".datepicker input").datepicker({
          dateFormat: "yy-mm-dd",
          showOn: "button",
          buttonImage: "/assets/calendar.gif",
          buttonImageOnly: true
      });
  }); 

:css
  #ui-datepicker-div{
    background:#FFF;
    padding: 1ex 1em;
    box-shadow: 1px 1px 10px whiteSmoke;
  }
  .ui-datepicker-prev{
    float:left;
  }
  .ui-datepicker-next{
    float:right;
  }
  .ui-datepicker-title{
    text-align:center;
  }

  .ui-datepicker-current-day{background:#FFA}

  a span{cursor: pointer;}

  .ui-datepicker-trigger{padding-left: 10px;vertical-align:baseline}