.row
  .span2
    =gravatar_for sitting.user, size: 20
    %a{href:(user_path sitting.user)}= sitting.user && sitting.user.name
  .span2
    = sitting.day
  .span1
    = !sitting.start.nil? && sitting.start.strftime("%H:%M")
  .span1
    = ( sitting.in_progress? ? 'in progress' : sitting.end.strftime("%H:%M"))

  .span3
    .btn-group.pull-right
      %a.btn.btn-small.btn-warning(href='#{edit_project_task_sitting_path(@project, @task, sitting)}')
        %i.icon-pencil.icon-white
        Edit
      %a.btn.btn-small.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_sitting_path(@project, @task, sitting), rel: "nofollow"}
        %i.icon-remove.icon-white
        Delete
%br