%tr
  %td= sitting.user && sitting.user.name
  %td= sitting.day
  %td= sitting.start.strftime("%H:%M")
  %td= sitting.end.strftime("%H:%M")
  =# %td= link_to 'Show', project_task_sitting_path(@project, @task, sitting)
  %td
    %a(href='#{project_task_sitting_path(@project, @task, sitting)}')
      %i.icon-eye-open
    &nbsp;
    %a(href='#{edit_project_task_sitting_path(@project, @task, sitting)}')
      %i.icon-edit
    &nbsp;
    %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_sitting_path(@project, @task, sitting), rel: "nofollow"}
      %i.icon-remove
