.row
  .span3
    %a{href:(user_path sitting.user), alt: sitting.user}
      =gravatar_for sitting.user, size: 20
      = #sitting.user && sitting.user.name
    -if sitting.message.present?
      %span.muted
        = sitting.message
  .span1
    .btn-group.pull-right
      %a.btn.btn-mini.btn-warning(href='#{edit_project_task_sitting_path(@project, @task, sitting)}')
        %i.icon-pencil.icon-white
      %a.btn.btn-mini.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_task_sitting_path(@project, @task, sitting), rel: "nofollow"}
        %i.icon-remove.icon-white
.row
  .span4
    .pull-right.muted
      = sitting.day && sitting.day.to_s(:short)
      #{!sitting.start.nil? && sitting.start.strftime("%H:%M")} -
      #{( sitting.in_progress? ? 'in progress' : pluralize(sitting.delta, 'minute'))}
