!!!
%html
  %head
    %title Kiwitime!
    = stylesheet_link_tag    "application", :media => "all"
    = #javascript_include_tag "application"
    = javascript_include_tag "http://code.jquery.com/jquery-1.8.3.js", "http://code.jquery.com/ui/1.9.2/jquery-ui.js"#, "rails.js"
    = yield :javascript
    = csrf_meta_tags
    %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap.css", :rel => "stylesheet"}
  %body

    .container
      .navbar
        .navbar-inner
          %a.brand{href:"/"}
            Kiwitime!

          %ul.nav.pull-right
            -if user_signed_in?
              %li
                %a{:href => user_path(current_user)}
                  =gravatar_for current_user, size: 30
                  Profile
              %li
                %a{:href => edit_user_path(current_user)} Settings
              %li
                - #%a{:href => destroy_user_session_path, :method => :delete} Sign out
                = link_to "Sign out", destroy_user_session_path, :method => :delete
            -else
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                %a{:href => new_user_session_path} Sign in
              %li
                = link_to "Sign up/in with Google", user_omniauth_authorize_path(:google_oauth2)


    .container
      .row
        .span3


          %navp
            %ul.nav.nav-tabs.nav-stacked
              - if can? :read, User
                %li
                  = link_to "Users", users_path
              - if can? :read, Project
                %li
                  = link_to "Projects", projects_path

        .span9
          %p#notice= notice
          %p#alert= alert
          / - flash.each do |k, f|
          /   \#{k} : #{f}
          = yield
          
    %footer
      .container
        %hr
        © Batkiwi 2012
        %br
        %br
        %br
    
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-alert.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-scrollspy.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tab.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tooltip.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-popover.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-button.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js"}
    %script{:src => "https://raw.github.com/twitter/bootstrap/master/js/bootstrap-typeahead.js"}
    -# javascript_include_tag "bootstrap-datepicker"