<!DOCTYPE html>
<html>
<head>
  <title>Kiwitime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <div class=container>
    <%= yield %>
  </div>
  <div class=container>
    <%= debug(params) %>
  </div>

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-alert.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-scrollspy.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tab.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tooltip.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-popover.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-button.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-typeahead.js"></script>
  <%= javascript_include_tag "bootstrap-datepicker" %>
</body>
</html>